@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Pacifico&family=Rationale&family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Pacifico&family=Rationale&family=Tagesschrift&family=Zen+Tokyo+Zoo&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: linear-gradient(90deg, rgb(32, 32, 32) 10%, rgb(15, 15, 15) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 94%;
  margin: 3%;
  margin-top: 0;
}

h1 {
  color: rgb(141, 143, 141);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.7rem;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  border-bottom: 2px solid white;
  padding-inline: 16px;
}

.nav {
  max-width: 1400px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 20px;
  color: #fff;
  padding-block: 16px;
  transition: all 0.3s ease-in-out;
}

.nav-list a:hover {
  font-size: 26px;
  color: rgb(141, 143, 141);
  padding-block: 16px;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 1280px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.foto1 {
  width: 70%;
  border-radius: 12rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

h2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  color: rgb(141, 143, 141);
}

p {
  font-size: 1.1rem;
  text-align: center;
}

.botao_curriculo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 6rem;
  border-radius: 1.2rem;
  padding: 8px;
  margin: 0 auto;
  background-color: rgba(141, 143, 141, 0.315);
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.botao_curriculo:hover {
  background-color: rgb(83, 83, 83);
  font-size: 1.1rem;
}

.card-img {
  width: 18rem;
}

.divprojetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.botaoprojeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  margin-bottom: 3rem;
  padding: 8px;
  background-color: rgba(141, 143, 141, 0.315);
  cursor: pointer;
}

.botaoprojeto:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.conteudoskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.imagens_skills {
  width: 4rem;
}

.card-imgcursos {
  width: 16rem;
}

.divprojetoscursos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divprojetoscursos .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.divprojetoscursos .card-body {
  display: flex;
  text-align: center;
}

.card_xp {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
  width: 70%;
  background-color: rgba(141, 143, 141, 0.11);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_xp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

.redes img{
  width: 3rem;
}

.redes {
  margin-left: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
}

.menufooter {
  width: 50%;
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menufooter a{
  transition: all 0.3s ease-in-out;
}

.menufooter a:hover{
  font-size: 1.3rem;
  color: rgb(141, 143, 141);
}

.direitos_reservados{
  border-top: 1px solid;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.7rem;
}

html {
  scroll-behavior: smooth;
}

.background {
  background-color: rgba(255, 255, 255, 0.02);
}

@media (min-width: 768px) {
  .foto1 {
  width: 50%;
  border-radius: 12rem;
}

.rodape{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.menufooter a{
  width: 50%;
  margin-bottom: 1.3rem;
  margin-left: 7rem;
}
}

@media (min-width: 1280px) {
main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.foto1 {
  width: 30%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

p {
  font-size: 1.3rem;
}

.divprojetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.card-img {
  width: 18rem;
  height: 8rem;
}

.divprojetoscursos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.card-imgcursos {
  height: 9rem;
}
}